@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

/*nav*/

nav#mainNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    background: #FFF;
}

nav#mainNav a {
    color: #000 !important;
}

header#mainHeader {
    position: relative;
    padding-top: 200px;
    padding-bottom: 100px;
    background: no-repeat center center;
    background-size: cover;
    color: #FFF;
}

@media (min-width: 992px) {
    nav#mainNav {
        background: transparent !important;
    }
    nav#mainNav a{
        color: #FFF !important;
    }
}


/*Listado de categorias*/
.categoria-lista i {
    color: #8800AA;
}

.categoria-lista .card {
    height: 100%;
    margin-top: 5px;
    transition: .5s all;
}

.categoria-lista a {
    text-decoration: none;
    color: #000;
}

.categoria-lista .card:hover {
    color: #FFF;
    background: #8800AA;
}

.categoria-lista .card:hover i,
.categoria-lista .card:hover a {
    color: #FFF;
}